In [39]:
# Q.1 Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [29]:
import re

orig_stg = 'Python Exercises, PHP exercises.'

modified_stg = re.sub(r'[ ,.!]', ':',orig_stg)

print(modified_stg)

Python:Exercises::PHP:exercises:

In [41]:
# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [42]:
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [1]:
import pandas as pd
import re

Dictionary = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
cleaned_summary = [re.sub(r'(XXXXX|123)', '', text) for text in Dictionary['SUMMARY']]
cleaned_summary = [re.sub(r'\W+', ' ', text) for text in cleaned_summary]
df = pd.DataFrame({'SUMMARY': cleaned_summary})

print(df)

          SUMMARY
0    hello world
1            test
2  four five six

In [44]:
# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [30]:
import re
string='Sachin is a great cricketer in the whole world since last  two decades.'
string_pattern=r'\w{4,}'
regex_pattern=re.compile(string_pattern)
x= regex_pattern.findall(string)
print(x)

['Sachin', 'great', 'cricketer', 'whole', 'world', 'since', 'last', 'decades']

In [46]:
# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [36]:
import re
string='Sachin is a great cricketer in the whole world since last  two decades.'
text_pattern=r'\b\w{3,5}\b'
find_pattern=re.compile(text_pattern)
x= find_pattern.findall(string)
print(x)

['great', 'the', 'whole', 'world', 'since', 'last', 'two']

In [48]:
# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [42]:
import re

def remove_parentheses(strings):
    pattern = re.compile(r'[\^()]*')
    return [pattern.sub('', s) for s in strings]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)
df=pd.DataFrame(result)
print(df)

                          0
0              example .com
1          hr@fliprobo .com
2               github .com
3  Hello Data Science World
4            Data Scientist

In [50]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [51]:
import re
string = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def remove_parentheses(strings):
  pattern = re.compile(r'\([^()]*\)')
  modified_strings = []
  for string in strings:
      modified_string = re.sub(pattern,'', string)
      modified_strings.append(modified_string)
  return modified_strings
result = remove_parentheses(string)
print(result)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [52]:
# Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [53]:
import re
text = "ImportanceOfRegularExpressionsInPython"

uppercase_words = re.findall('[A-Z][a-z]*', text)
print(uppercase_words)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [54]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.

In [55]:
import re
text='RegularExpression1IsAn2ImportantTopic3InPython'
def insert_spaces(text):

  pattern = r'(\d+)([A-Za-z]+)'
  result = re.sub(pattern, r' \1\2', text)  
  return result

print(insert_spaces(text))

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [56]:
# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [57]:
import re
text = "RegularExpression1IsAn2ImportantTopic3InPython"
def insert_spaces(text):
  pattern = r'(\d+)([A-Za-z]+)'
  result = re.sub(pattern, r' \1 \2', text)
  return result

print(insert_spaces(text))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [58]:
# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [59]:
## The original dataset
df=pd.read_csv('C:/Users/Dell/Desktop/Project.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [60]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)

In [61]:
## Resulted dataset
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [62]:
### This is an another way to solve this query
import pandas as pd

url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)

df['first_five_letters'] = df['Country'].str[:6]

print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

In [63]:
## Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [80]:
import re
tests=['hello worlds','four@four','abs123','ANN$XYZ','are you THERE','Get_away']
def valid(test12):
    pattern=r'^[a-zA-Z0-9_]+$'
    if re.match(pattern,test12):
        return True
    else:
        return False
for test in tests:
    if valid(test):
        print(f"'{test}' is a valid string.")
    else:
        print(f"'{test}' is not a valid string.")

'hello worlds' is not a valid string.
'four@four' is not a valid string.
'abs123' is a valid string.
'ANN$XYZ' is not a valid string.
'are you THERE' is not a valid string.
'Get_away' is a valid string.

In [65]:
# Question 12- Write a Python program where a string will start with a specific number.

In [66]:
tests = ["789ghi", "456ddef", "123abcd", "abdc123", "456defd456"]

def starts_with_number(string, number):
    return string.startswith(str(number))

specific_number = 456
for test_string in tests:
    if starts_with_number(test_string, specific_number):
        print(f"'{test_string}' starts with the number {specific_number}.")
    else:
        print(f"'{test_string}' does not start with the number {specific_number}.")

'789ghi' does not start with the number 456.
'456ddef' starts with the number 456.
'123abcd' does not start with the number 456.
'abdc123' does not start with the number 456.
'456defd456' starts with the number 456.

In [67]:
# Question 13- Write a Python program to remove leading zeros from an IP address

In [13]:
import re
ip_address='198.110.006.001'

pattren = '\.[0]*'
updated_ip= re.sub(pattren,'.',ip_address)   

print('Orig IP Address:', ip_address)
print('Updated IP address', updated_ip)

Orig IP Address: 198.110.006.001
Updated IP address 198.110.6.1

In [69]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [70]:
import re
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern = r'\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}'

match = re.search(pattern, text)

print("Matched date string:", match)

Matched date string: <re.Match object; span=(3, 19), match='August 15th 1947'>

In [71]:
# Question 15- Write a Python program to search some literals strings in a string.

In [72]:
def search_words(text, searched_words):
    found_words = []
    for word in searched_words:
        if word in text:
            found_words.append(word)
    return found_words

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

found_words = search_words(sample_text, searched_words)
print("Found words:", found_words)

Found words: ['fox', 'dog']

In [ ]:
import re
my_string = 'The quick brown fox jumps over the lazy dog.'
m = re.search('cat|dog|fox|horse', my_string)
if m:
    print('it\'s a match')
else:
    print('no match found')

In [73]:
# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occur

In [3]:
import re
my_string = 'The quick brown fox jumps over the lazy dog.'
my_substring = 'fox'
m = re.finditer(my_substring, my_string)
for match in m:
    print('string \'{}\''.format(my_substring), 'found at position', match.span())

string 'fox' found at position (16, 19)

In [17]:
# Question 17- Write a Python program to find the substrings within a string.

In [21]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [ ]:
# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [2]:
import re
my_string = 'Python exercises, PHP exercises, C# exercises'
my_substring = 'exercises'
m = re.finditer(my_substring, my_string)
for match in m:
    print('string \'{}\''.format(my_substring), 'found at position', match.span())

string 'exercises' found at position (7, 16)
string 'exercises' found at position (22, 31)
string 'exercises' found at position (36, 45)

In [4]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [39]:
import re
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

In [38]:
import re
date='1984-08-13'
p=r'(\d{4})-(\d{1,2})-(\d{1,2})'
modi_date= re.sub(p, '\\3-\\2-\\1', date)
def change_date_format(date):
        return(modi_date)
print('Orig date:',date)
print('Modi date:',modi_date)

Orig date: 1984-08-13
Modi date: 13-08-1984

In [35]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [49]:
import re
string= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern= re.compile(r'\b\d+\.\d{1,2}\b')
x= pattern.findall(string)
print(x)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [50]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [74]:
import re
text="abc 123 def 456 ghi 789"
for m in re.finditer("\d+", text):
    print('Numnber:',m.group(0),", Index position:", m.start())

Numnber: 123 , Index position: 4
Numnber: 456 , Index position: 12
Numnber: 789 , Index position: 20

In [75]:
# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [84]:
import re
string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

number = re.findall('\d+', string)
number = map(int, number)
print("Max_value:",max(number))

Max value: 950

In [86]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [92]:
import re
text='RegularExpressionIsAnImportantTopicInPython'

def insert_spaces(text):   
    spaced_text= re.sub(r'([A-Z][a-z]+)', r' \1', text)
    return spaced_text.strip()
spaced_text= insert_spaces(text)
print('Text with spaces between words:', spaced_text)

Text with spaces between words: Regular Expression Is An Important Topic In Python

In [93]:
# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [96]:
import re
sample_text = "RegularExpressionIsAnImportantTopicInPython"
pattern = re.compile(r'[A-Z][a-z]+')
x=re.findall(pattern,sample_text)
print(x)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [97]:
# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [105]:
import re
text= 'Hello hello world world'
pattern= r'\b(\w+)(\s+\1\b)+'
rem_dup=re.sub(pattern,r'\1',text)
print('Expected Output:',rem_dup)

Expected Output: Hello hello world

In [106]:
# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [158]:
import re
pattern= r'.*[a-zA-Z0-9]$'
def end_char(my_string):
   if(re.findall(pattern, my_string)):
      print("The string ends with alphanumeric character")
   else:
      print("The string doesnot end with alphanumeric character")

my_string_1 = "Python@"
print("The string is :", my_string_1)
end_char(my_string_1)

my_string_2 = " i will pay to you Python1245"
print("\nThe string is :", my_string_2)
end_char(my_string_2)

The string is : Python@
The string doesnot end with alphanumeric character

The string is :  i will pay to you Python1245
The string ends with alphanumeric character

In [155]:
# Question 27-Write a python program using RegEx to extract the hashtags.

In [159]:
import re
def extract_hashtags(text):
    pattern = re.compile(r'#\w+')
    hashtags = pattern.findall(text)
    return hashtags

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

result = extract_hashtags(sample_text)
print("Extracted hashtags:", result)

Extracted hashtags: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [161]:
# Question 28- Write a python program using RegEx to remove <U+..> like symbols Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [163]:
import re

input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [164]:
# Question 29- Write a python program to extract dates from the text stored in the text file.

In [7]:
import re
text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern=(r'\b\d{2}-\d{2}-\d{4}\b')
x=re.findall(pattern, text)
print('Extracted dates:',x)

Extracted dates: ['12-09-1992', '15-12-1999']

In [8]:
# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [26]:
#(1)
import re
Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'\W*\b\w{2,4}\b')
print(pattern.sub('', Text))

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [28]:
#(2)
import re
def rem(text):
    pattern=re.compile(r'\b\w{2,4}\b')
    return pattern.sub('', Text)
Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result= rem(Text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.